
<div ng-controller="HomeController">

    <ul class="nav navbar-nav navbar-left" >
        <li>
            @*<div class="dropdown" align="left">*@

                <a id="dLabel" data-toggle="dropdown" class="navbar-brand" data-target="#">
                    Reciepes <span class="caret"></span>
                </a>



                <ul id="menu" class="dropdown-menu multi-level">
                    <li ng-repeat="p in ReciepeCategory">
                        <a href="#" class="trigger right-caret" ng-mouseover="DisplaySubList(p)">{{p.Name}}</a>
                        <ul class="dropdown-submenu" ng-class="p.Name" ng-style="StyleAttr">
                            <li ng-repeat="list in ReciepeList">
                                <a href="#" class="trigger right-caret" ng-mouseover="DisplayReciepe(list)">{{list.Name}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            
        </li>
        <li>@Html.ActionLink("Share Reciepe", "ShareReciepe", "ShareReciepe", new { area = "" }, new { @class = "navbar-brand" })</li>

    </ul>

</div>
<script src="@Url.Content("~/Scripts/angular.min.js")" type="text/javascript"></script>
