
<div ng-app="myApp" ng-controller="HomeController">
    <form novalidate>
        Reciepe Name:<br>
        <input type="text" ng-model="ReciepeName"><br>
        <a id="dLabel" data-toggle="dropdown" class="" data-target="#">
            Reciepe Type: <span class="caret"></span>
</a>
       <br>
        <ul id="menu" class="dropdown-menu">
        <li ng-repeat="p in ReciepeCategory" ng-model="myvar">
            <a href="#" class="">{{p.Name}}</a>
        </li>
            <li>Add a New Type</li></ul>
        <br>
        Instructions:
        <br>
        <textarea name="instructions" rows="5" ></textarea><br/>
        <button ng-click="reset()">Submit</button>
        
        
        <div ng-switch="myvar">
            <div ng-switch-when="Curries">
                <h1>Add a new Type</h1>
                <input type="text" ng-model="Newtype"><br>
            </div>
            
        </div>
        
    </form>
    <script src="@Url.Content("~/Scripts/angular.min.js")" type="text/javascript"></script>
</div>