
<div ng-app="myApp" ng-controller="HomeController">
    <form novalidate ng-model="Reciepe" ng-controller="ShareReciepeController" ng-submit="Share()">
        <div ng-hide="isHidden">
            Reciepe Name:<br>
            <input type="text" ng-model="Reciepe.Name"><br>
            <a id="dLabel" data-toggle="dropdown" class="" data-target="#">
                Reciepe Type: <span class="caret"></span>
            </a>
            <br>
            <select ng-model="Reciepe.ReceipeTypeID" ng-options="item.Name for item in ReciepeCategory">{{item.Name}}</select>
            <input type="button" name="RecTypeAdd"  value="Add a new Reciepe Type" ng-click="AddRecType()"/>
            <br>
            Ingredients:
            <br>
            <input name="ingredients" rows="5" ng-model="Reciepe.Ingredients" ng-list required /><br />
            <br>
            Instructions:
            <br>
            <input name="instructions" rows="5" ng-model="Reciepe.Instructions" ng-list required/><br />
            <br>
            Cooking Time:
            <br>
            <input type="text" ng-model="Reciepe.CookingTime"><br>
            <br>
            Preparation Time:
            <br>
            <input type="text" ng-model="Reciepe.PreparationTime"><br>
            <br>
            Is It Healthy?:
            <br>
            <input type="checkbox" ng-model="Reciepe.IsHealthy"><br>
            <br>
            Is It Diabetic?:
            <br>
            <input type="checkbox" ng-model="Reciepe.IsDiabetic"><br>
            <br>
            Is It Seasonal?:
            <br>
            <input type="checkbox" ng-model="Reciepe.Seasonal"><br>
            
            <br>
            Image:
            <br><input id="imageid" type="file" ng-model="Reciepe.ImageUrl"/>
            @*<button ng-click="add()">Add</button>*@
            <br>
            <button type="submit">Submit</button>
        </div>

        <div ng-hide ="displaymessage">
            <label ng-model="returnStatus">{{returnStatus}}</label>
        </div>



        <div >
            <div ng-hide="IsRecTypeHidden">
                Add a new  Reciepe Type
                <input type="text" ng-model="Newtype"><br>
                <input type="button" value="Add ReciepeType " ng-click="addnewtype()" />

            </div>

        </div>

    </form>
    <script src="@Url.Content("~/Scripts/angular.min.js")" type="text/javascript"></script>
</div>