<!DOCTYPE html>
<html ng-app ="Runapp" >
    <head>
        @*<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />*@
        <title ng-bind="models.helloAngular"></title>
    </head>
<body>
   
    <div ng-controller="HomeController">

    
        <div class="dropdown">
            <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary" data-target="#" >
                Reciepes <span class="caret"></span>
            </a>

            <ul id="menu" class="dropdown-menu multi-level">
                <li ng-repeat="p in ReciepeCategory">
                <a href="#" class="trigger right-caret" ng-mouseover="DisplaySubList(p)">{{p.Name}}</a>
                <ul class="dropdown-submenu">
                    <li ng-repeat="list in ReciepeList">
                        <a href="#" class="trigger right-caret" ng-mouseover="DisplayReciepe(list)">{{list.Name}}</a>
                    </li>

                </ul>
            </ul>
            <table>
                <th><span>
                        {{Reciepe}}
                    </span></th>
                @*<tr><td>{{Reciepe.ingredients}}</td></tr>
                <tr><td>{{Reciepe.instructions}}</td></tr>*@
            </table>
           
           
            
            </div>


           




        </div>
   
    <script src="@Url.Content("~/Scripts/angular.min.js")" type="text/javascript"></script>
    <link href="~/Content/HomeCSS.css" rel="stylesheet" type="text/css">
    <script>

  



    </script>
   
    @Scripts.Render("~/bundles/Runapp");

</body>

</html>