body {
    padding-top: 50px;
    padding-bottom: 20px;
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    border-color: goldenrod;
    background-color: gainsboro;
    position: fixed;
    top: 25%;
    bottom: 15%;
    right: 25%;
    left: 25%;
    align-content: center;
    

}

.ImageShow {
    /*background-image: url('Images/background-with-vintage-282875489.jpg');*/
    
   
    
    /*background-image: url('Images/isolated-on-white-background-163562975.jpg');*/
    /*background-image: url('Images/spice1-vintage-282875486.jpg');*/
    background-image: url('Images/stock-vector-spices-seamless-background-252358957.jpg');
    /*background-repeat: no-repeat;*/
    background-position: center;
   /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}
 

.Testbackground {
 background-color: cornsilk;
 padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
  left: 10%;
  right: 10%;
  top: 10%;
  bottom: 10%;
   
  position: fixed;
      
             
 }
  

.footer 
    { position: fixed; bottom: 0; }


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set padding to display errors that occur during databinding */
.padding-error {
    padding-top: 20px;
}

.rec-image {
    /*width: 150px;
    height: 150px;*/
    border: black;
    border-color: black;
    border-width: 10px;
    align-content: center;
    /*position: absolute;*/ 
 
}

@media only screen and (max-width: 767px) {
    .nofloat {
        float: none;
        padding: 10px 15px;
    }
}